<!--
=========================================================
* Material Dashboard Dark Edition - v2.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard-dark
* Copyright 2019 ASRA (http://www.creative-tim.com)

* Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
{% extends "student/base.html" %}
{% load static %}
{% load widget_tweaks %}
<!--{% load crispy_forms_tags %} -->
{% block content %}
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Student</h4>
                  <p class="card-category">Fill in the details of the student</p>
                </div>
                <div class="card-body">
                  <form method="POST">
                    {% csrf_token %}

                        <div class="row">
                        <div class="col-md-6">

                          <label class="bmd-label-floating">Name</label>
                           {% render_field form.name class="form-control"%}
                        </div>
                      </div>

                    <div class="row">

                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Age</label>
                          {% render_field form.age class="form-control" %}
                        </div>
                      </div>
                    </div>
                    <div class="row">

                      <div class="col-md-4">
                          <label class="bmd-label-floating">Gender</label>
                            {% render_field form.sex class="form-control" %}
                        </div>
                      </div>

                    <div class="row">
                      <div class="col-md-8">
                          <label class="bmd-label-floating">Date Of Admission</label>

                          {% render_field form.date_of_admission class="form-control" %}
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-8">

                          <label class="bmd-label-floating">Date Of Leaving</label>
                          {% render_field form.date_of_leaving class="form-control" %}
                        </div>

                    </div>
                    <div class="row">

                      <div class="col-md-4">

                          <label class="bmd-label-floating">Education</label>

                         {% render_field form.education class="form-control" %}
                        </div>

                    </div>
                    <div class="row">
                      <div class="form-group"></div>
                      <div class="col-md-4">

                          <label class="bmd-label-floating">Height</label>
                            {% render_field form.height class="form-control" %}
                        </div>
                      </div>
                    </div>
                   <!-- <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                          <label class="bmd-label-floating">Country</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                          <label class="bmd-label-floating">Postal Code</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                </div> -->

                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                    <div class="clearfix"></div>
                  </form>
                </div>

           <!--<div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="../static/img/faces/marc.jpg" />
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category">CEO / Co-Founder</h6>
                  <h4 class="card-title">Alec Thompson</h4>
                  <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                  </p>
                  <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
                </div>
              </div>
            </div> -->
    {% endblock content %}